<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Team Building - Activities</title>
    <%= stylesheet '/style.css' %>
  </head>
  <body>
    <h2>Activities</h2>
    <% @activities.each do |activity|%>
    <div class = card-white>
      <p><%= activity["Name"] %> <%= activity["Category"].upcase %></p>
      <p>Located in <%= activity["City"] %></p>
      <p>Duration of <%= activity["Duration"] %> minutes</p>
      <p>For <%= activity["Number of participants"] %> personnes</p>
      <p>Charge of <%= activity["Price"] %> € </p>
    </div>
    <% end %>

  </body>
</html>